// COLORS
$color-primary: #a98c52;
$color-primary-light: #ccb066;
$color-primary-dark: #7a4e0b;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#7ed56f;
$color-tertiary-dark:#28b485;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #333;
$color-yellow: #e9d667;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
