@import '_variable';
@import '_base';


.header {
	height: 95vh;
	background-image: linear-gradient(
			to right bottom,
			rgba($color-primary-light, 0.7),
			rgba($color-primary-dark, 0.7)
		),
		url(../img/cheetah.jpg);
	background-size: cover;
	background-position: top;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
	position: relative;

	@include respond(phone) {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
		
	}

	&__logo-box {
		position: absolute;
		top: 4rem;
		left: 4rem;
	}

	&__logo {
		height: 3.5rem;
	}
	&__text-box {
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
}

.heading-primary {
	color: $color-grey-dark;
	text-align: center;
	text-shadow: 4px 8px 6px rgba(0, 0, 0, 0.3);
	backface-visibility: hidden;
	transition: 0.5s;
	margin-bottom: 6rem;

	&:hover {
		text-shadow: none;
	}
	&--main {
		display: block;
		font-size: 6rem;
		font-weight: 400;
		animation: moveInLeft 1.2s ease-out;

		@include respond(phone) {
			font-size: 5rem;
		}
	}
	&--sub {
		display: block;
		font-size: 2.5rem;
		font-weight: 700;
		animation: moveInRight 1.2s ease-out;

		@include respond(phone) {
			font-size: 2rem;
		}
	}
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}
	80% {
		transform: translateX(1rem);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(10rem);
	}
	80% {
		transform: translateX(-1rem);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(3rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.btn {
	&,
	&:link,
	&:visited {
		text-decoration: none;
		padding: 1.5rem 4rem;
		display: inline-block;
		border-radius: 1rem;
		transition: all 0.2s;
		backface-visibility: hidden;
		position: relative;
		font-size: 1.6rem;
		border: none;
		cursor: pointer;
		font-family: inherit;
	}
	&:hover {
		transform: translateY(-0.3rem);
		box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);

		&::after {
			transform: scaleX(1.4) scaleY(1.6);
			opacity: 0;
		}
	}
	&:active {
		transform: translateY(-1px);
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
	}
	&:focus {
		outline: none;
	}

	&--yellow {
		background-color: $color-yellow;
		color: $color-grey-dark;

		&::after {
			background-color: $color-yellow;
		}
	}
	&--white {
		background-color: #f7f7f7;
		color: $color-grey-dark;

		&::after {
			background-color: #f7f7f7;
		}
	}

	&::after {
		content: '';
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 1rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all 0.4s;
	}

	&--animated {
		animation: moveInBottom 0.5s ease-out 0.75s;
		animation-fill-mode: backwards;
	}
}
