@import '_variable';
@import '_utilities';
@import '_mixins';

.section-review {
	padding: 20rem 0;
	background-image: linear-gradient(
			to right bottom,
			rgba($color-primary-light, 0.7),
			rgba($color-primary-dark, 0.7)
		),
		url(../img/nat-4.jpg);
	background-size: cover;
	text-align: center;
	margin-top: -10rem;
	transform: skewY(7deg);

	& > * {
		transform: skewY(-7deg);
	}

	&__heading {
		font-size: 1.7rem;
		color: hsla(0, 0%, 97%, 0.8);
	}

	@include respond(tab-port) {
		padding: 10rem 0;
	}
}

.review-box {
	background-color: rgba(#fff, 0.8);
	font-size: 1.5rem;
	padding: 2.5rem;
	text-align: center;
	border-radius: 3px;
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
	transition: transform 0.3s;
	backface-visibility: hidden;

	@include respond(tab-port) {
		padding: 2rem;
	}

	&__img {
		width: 100px;
		height: 100px;
		border-radius: 50%;
	}
	&:hover {
		transform: translateY(-1.5rem) scale(1.03);
	}
}
